@charset "UTF-8";
/* Палитра */
/* Цвет акцентра #2196F3 */
/* Белый цвет текста #FFFFFF */
/* Черный цвет шрифта #212121 */
/* Серый цвет шрифта #757575 */
/* цвет фона белый #FFFFFF */
/* Цвет фона серой секции #E5E5E5 */
/* Цвет фона белой второй секции #FFFFFF*/
body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 481px) {
  .section-title {
    display: block;
    font-size: 36px;
    margin: 0 0 50px 0;
  }
}

.link {
  color: #212121;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  outline: none;
  color: #2196f3;
}

.logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 769px) {
  .logotype {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-text-accent {
  color: #2196f3;
}

.header {
  position: relative;
  width: 100%;
}

.sait-nav {
  padding: 15px 16px;
}

@media screen and (min-width: 481px) {
  .sait-nav {
    width: 100%;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 481px) {
  .list-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 81px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 481px) {
  .list-nav li:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 481px) {
  .nav-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 60px 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  text-align: center;
}

.mobile-menu.is-open {
  display: block;
}

@media screen and (min-width: 481px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    z-index: 0;
    width: inherit;
    top: 0;
    left: 0;
    padding: 0;
    background-color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.mobile-menu-button {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  right: 15px;
  top: 10px;
  border-style: none;
  border-width: 0;
  background-color: inherit;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:hover, .mobile-menu-button:focus {
  fill: #2196f3;
  outline-style: none;
}

@media screen and (min-width: 481px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button .icon-close {
  display: none;
}

.mobile-menu-button.is-open .icon-close {
  display: block;
}

.mobile-menu-button.is-open .icon-menu {
  display: none;
}

.list-nav li:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 481px) {
  .list-nav li:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 481px) {
  .list-nav {
    margin-left: auto;
  }
}

.nav-link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 481px) {
  .nav-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.active {
  position: relative;
  margin-bottom: 12px;
  color: #2196f3;
}

@media screen and (min-width: 481px) {
  .active {
    margin-bottom: 0;
  }
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: #2196f3;
}

@media screen and (min-width: 481px) {
  .active::after {
    bottom: -30px;
  }
}

.contacts-nav {
  display: inline-block;
  margin-top: 60px;
}

.contacts-nav li:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .contacts-nav {
    margin-top: 0;
    margin-left: auto;
    text-align: start;
  }
}

.contacts-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  outline: none;
  color: #2196f3;
}

@media screen and (min-width: 481px) {
  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 481px) {
  .nav-icon {
    margin-right: 8px;
  }
}

.container-buttoms {
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mob-container {
  padding-top: 60px;
  padding-bottom: 40px;
}

.nav-buttom {
  margin-top: 15px;
}

.container-buttoms .nav-buttom:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  border: 1px solid transparent;
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1); */
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  text-align: center;
  -webkit-transition-property: color,background-color,-webkit-box-shadow;
  transition-property: color,background-color,-webkit-box-shadow;
  transition-property: color,background-color,box-shadow;
  transition-property: color,background-color,box-shadow,-webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  outline-style: none;
}

.item-examples {
  width: 100%;
}

.item-examples:not(:last-child) {
  margin-bottom: 30px;
}

.item-examples:nth-child(n + 4) {
  margin-top: 30px;
}

.examples-window {
  position: relative;
  overflow: hidden;
}

.clarify-window {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples:hover .clarify-window,
.examples:focus .clarify-window {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-content {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.examples-title {
  display: block;
  margin: 0px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-filter {
  display: block;
  margin-top: 4px;
  margin-bottom: 0px;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.list-examples {
  padding-bottom: 60px;
}

.examples {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples:hover, .examples:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.contacts-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0px;
}

.team-icon-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-li:focus, .team-icon-li:hover {
  outline: none;
  background-color: #2196f3;
  fill: #ffffff;
}

.link-icon-team:hover,
.link-icon-team:focus {
  outline: none;
  fill: #ffffff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f303a;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 0px;
  color: #ffffff;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.mobile-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobile-footer {
    margin-right: auto;
  }
}

.address {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts-in-footer {
  display: block;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-in-footer:hover, .contacts-in-footer:focus {
  outline: none;
  color: #2196f3;
}

.follow {
  display: block;
  margin-top: 60px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .follow {
    margin-right: 89px;
  }
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}

.icon-follow {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.contacts-team .icon-follow:not(:last-child) {
  margin-right: 10px;
}

.link-icon-footer {
  fill: #ffffff;
}

.subscription {
  margin-top: 60px;
}

.mail-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 29px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  border-style: none;
}

.mail-to:hover, .mail-to:focus {
  outline-style: none;
}

.mail-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.input-mail {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2F303A;
  padding-left: 16px;
}

.input-mail:focus {
  outline-style: none;
  color: #ffffff;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .input-mail {
    min-width: 450px;
  }
}

.main {
  border-top: 1px solid #ECECEC;
}
/*# sourceMappingURL=portfolio.css.map */