.cont-tablet {
  @media screen and (min-width:481px) and (max-width:768px) {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
    
  }
}



.container .list-advantages:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width:481px) {
    margin-bottom: 0;
  }
}

.img-advantages {
    width: 100%;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: $background-second;
    border-radius: 4px;
}
  
  
.title {
    display: block;
     color: $title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    
}

.all-text {
  margin: 0px;
}

.list-advantages {
  @media screen and (min-width:481px) and (max-width:768px) {
    
    width: calc((100% - 2 * 30px) / 2);  
    margin: 15px;
    }
}