 


.customers  {
  display: flex;
  flex-wrap: wrap;
  margin: -15px; 
  @media screen and (min-width:769px) {
    flex-wrap: nowrap;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
   }

}


.customers li {
  @media screen and (max-width:480px){
   margin: 15px;
   width: calc((100% - 2 * 30px) / 2);
  }

   @media screen and (min-width:481px) and (max-width:768px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
   }
   
   @media screen and (min-width:769px) {
    width: 100%;
     
    }
  
  
   @media screen and (min-width:769px) {
     &:not(:last-child) {
      margin-right: 30px;
      
     }
   }

}



 
.customer-link {
  
    display: flex;
    justify-content: center;
      
    width: 100%;
    height: 90px;
    padding: 0; 
  
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #AFB1B8;
   
    transition-property: fill, border;
    transition-duration: $time;
    transition-timing-function: $cubic;
 
    &:hover,
    &:focus {
     outline: none;
     border: 1px solid $accent-collor;
     fill: $accent-collor;
    }
  
   }