.main-hero {
    display: flex;
    align-items: center;
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../img/Header-img.jpg);

}
  
  .hero-cont {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-title {
    max-width: 360px;
    margin-bottom: 30px;
    margin-top: 0px;
    color: $text-color-w;
    font-weight: 900;
    font-size: 26px;
    line-height: 2;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 769px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    
    }
  }
  
  .button {
    min-width: 200px;
    padding: 10px 32px;
  
    color: $text-color-w;
    background-color: $accent-collor;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;

      &:focus,
      &:hover {
        outline: none;
        color: $text-color-w;
      }
  }
  
  