.logotype {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $title-color;
    
  
  }    
  
  
  .logo-text-accent {
    color: $accent-collor;
  }
  