// Карточка 

.item-examples {
  @media screen and (max-width:480px) {
    width: 100%;
  
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
    @media screen and (min-width:481px) and (max-width:768px) {
      width: calc((100% - 2 * 30px) / 2);  
      margin: 15px;
      }
    @media screen and (min-width:769px){
        width: 370px;
        margin: 15px;
      }

      
}

  
  // .item-examples:nth-child(3n) {
  //   margin-right: 0px;
  // }
  @media screen and (min-width:769px){  
   .item-examples:nth-child(n + 4) {
    margin-top: 30px;
   }
  }
  
  // Окно уточнения ,всплывающее
  
  .examples-window {
    position: relative;
    overflow: hidden;
  }
  
  .clarify-window {
    position: absolute;
  
    background: rgba(33, 150, 243, 0.9);
  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    opacity: 0;
  
    transition-property: opacity, transform;
    transform: translateY(100%);
    transition-duration: $time;
    transition-timing-function: $cubic;
    
  }
  
  .examples:hover .clarify-window,
  .examples:focus .clarify-window {
    opacity: 1;
    transform: translateY(0);
  }
    
  // стили контент карточки
  
  .card-content {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    
  }  
  
  .examples-title {
    display: block;
    margin: 0px;
  
    color: $title-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    white-space: nowrap;
  }
   
  .examples-filter {
    display: block;
    margin-top: 4px;
    margin-bottom: 0px;
  
    color: $text-color;
    font-size: 16px;
    line-height: 1.88;
  }