 // Кнопки фильтрации

 .container-buttoms {
    
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
  

  }

  .mob-container {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .nav-buttom {
    margin-top: 15px;
  }
  
  .container-buttoms .nav-buttom:not(:last-child) {
    margin-right: 8px;
    

  }
    
  // Стили кнопки
  
  .button {
    padding: 6px 22px;
    border: 1px solid transparent;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1); */
    border-radius: 4px;
  
    background-color: $background-second;
    color: $title-color;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 500;
    text-align: center;
  
    transition-property: color,background-color,box-shadow;
    transition-duration: $time;
    transition-timing-function: $cubic;
  
      &:hover,
      &:focus {
        background-color: $accent-collor;
        color: $text-color-w;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
        outline-style: none;
  
      }
  }
  