/* Палитра */
/* Цвет акцентра #2196F3 */
/* Белый цвет текста #FFFFFF */
/* Черный цвет шрифта #212121 */
/* Серый цвет шрифта #757575 */
/* цвет фона белый #FFFFFF */
/* Цвет фона серой секции #E5E5E5 */
/* Цвет фона белой второй секции #FFFFFF*/

// основные переменные

$accent-collor: #2196f3;
$text-color: #757575;
$title-color: #212121;
$text-color-w: #ffffff;
$background-second: #F5F4FA;
$background-white: #FFFFFF;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;



